@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");
* {
  margin: 0;
  padding: 0;
}

.mainname{
  display: block;
  margin: 50px 0;
  text-align: center;
  font-size: 35px;
  color: chocolate;
  font-family: "Roboto", sans-serif;
}
.twobox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.man{
  width: 400px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 20px;
  margin: 20px 50px;
}
.man:hover{
  border-color: chocolate;
  box-shadow: 0 0 12px rgba(210, 105, 30, 0.76),
  inset 0 0 12px rgba(210, 105, 30, 0.76);
}
.img{
  height: 250px;
  width: 250px;
  border: 3px solid black;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}
.img img{
  width: 100%;
}
.man h3{
  margin: 10px 0;
  text-align: center;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  text-transform:uppercase;
  color: chocolate;
}
.man h4{
  text-align: center;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  margin: 0 0 10px 0;
}
.man p{
  text-indent: 15px;
  text-align: justify;
  font-size: 20px;
}
